{% extends "webapp/base.html" %}

{% block content%}

<body>
    <br>
    <br>

    <div class="text-center">
        <h3>ProjectX... Management at it's finest</h3>
        <br>
        <h5>ProjectX is a project management tool that allows you to manage your projects and tasks with ease.</h5>

        <hr>

        <a class="btn btn-primary" type="button" href="{% url 'webapp:register' %}">Create your account &nbsp; <i class="fa fa-user-plus" aria-hidden="true"></i></a>
    
</body>

{% endblock %}
